/* 
* font-family: 'Lato', sans-serif;
* weight: 400/700/italic-both
**/

* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 20px;
  background-color: #F3F3F3;
}
img {
  max-width: 100%;
}
section {
  padding: 90px 15px;
}
.container {
  max-width: 1100px;
  margin: 0 auto;
}
.banner {
  background-color: #1F4662;
  color: rgba($color: #FFFFFF, $alpha: 0.7)
}

// tteesstt
.row-1 {
  background-color: #deffe7;
}
.row-2 {
  background-color: #fce1e2;
}
.container {
  display: flex;
  flex-wrap: wrap;
  @media (min-width: 768px) {
    justify-content: space-between;
  }
  .col-1, .col-2 {
    flex-basis: 100%;
    @media (min-width: 768px) {
      flex-basis: 48%;
    }
  }
  .mobile-order-2 {
    order: 2;
  }
}